.slider{
    background-color: rgb(209, 233, 205);
    border: solid 2px #000;
}
.sli{
    margin: 10px 10px;
}
.slider img{
    background-image: url(/img/ladrillo.jpg);
    background-size: cover;
    width: 97%;
    height: 70vh;
    margin: 20px;
}
